*{ 
    box-sizing: border-box;
    
}

.header {

    margin: auto;
    padding: 10px;
    height: 10px;
    width: auto;
    background-color: aqua;

}

.footer {

    margin: auto;
    padding: 10px;
    height: 10px;
    width: auto;
}


h1 {
    display: flex;
    justify-content: center;
    left: 100px;
}

p {
    display: flex;
    justify-content: center;
}